@model IEnumerable<RealPollSignalR.Models.Answer>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AnswerText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCorrect)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.EditorFor(modelItem => item.AnswerText)
        </td>
        <td>
            @Html.EditorFor(modelItem => item.IsCorrect)
        </td>
    </tr>
}

</table>
