@model RealPollSignalR.Models.Question

@{
    ViewBag.Title = "Index";
}

<h2>You are creating a new question</h2>

@section scripts {

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/Controller/generateController.js"></script>
    <script src="~/Scripts/jquery.signalR-2.0.2.min.js"></script>
    <script src="~/signalr/hubs"></script>

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div ng-app="myApp" ng-controller="generateController">
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.QuestionUniqueId);
        <h3>Question information</h3>
        <div class="form-group">
            <label>Write the question here:</label>
            @Html.TextBoxFor(model => model.QuestionText, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.QuestionText)
        </div>
        
        <div class="form-group">
            <label>How many possible answers does it have? (maximum 10):</label>
            <input type="text" ng-model="answersCount" class="form-control" ng-change="setAnswers()"/> <br/>
        </div>
        <h3>Answers</h3>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => new RealPollSignalR.Models.Answer().AnswerText)
                </th>
                <th>
                    @Html.DisplayNameFor(model => new RealPollSignalR.Models.Answer().IsCorrect)
                </th>
            </tr>
            
            <tr ng-repeat="answer in answers">
                <td>
                    <input type="text" id="{{answer.id}}" name="{{answer.name}}" class="form-control" />
                </td>
                <td>
                    <input type="checkbox" id="{{answer.cbId}}" name="{{answer.cbName}}" />
                </td>
            </tr>
        </table>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
