@model RealPollSignalR.Models.Question
@{
    ViewBag.Title = "Vote for your option";
}

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.0.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
        var questionId = '@Model.Id'
        $(function () {
            $("#thanks").hide();
            var poll = $.connection.poll;
            var actor;
            $.connection.hub.start().done(function () {

                $(':button').click(function () {
                    actor = this;
                    console.log("hey brother");
                });

                $("#nameForm").submit(function () {
                    event.preventDefault();
                    if ($("#name").val().length == 0) {
                        return;
                    }
                    $("#nameForm").hide();
                    $("#answerForm").show();
                });

                $("#answerForm").click(function () {
                    console.log("clicked");
                    event.preventDefault();
                    if (actor == null) {
                        console.log("nothing to see here");
                        return;
                    }
                    poll.server.vote($("#name").val(), questionId, actor.id);
                    $("#thanks").show();
                    $("form").hide();
                    actor = null;
                });
            });
        });
    </script>
    <style>
        .btn-success {
            margin-bottom: 10px;
            width: 100%;
        }

        .red {
            color: red;
        }
    </style>
}

<div class="row">
    <div class="col-lg-12">
        <h2>Vote!</h2>
        <form id="nameForm">
            <div class="form-group">
                <label for="name">Your name:</label>
                <input id="name" type="text" class="form-control" required />
                <span id="error"></span><br/>
                <input type="submit" value="Go to question" class="btn btn-primary" />
            </div>
        </form>
        <form id="answerForm" style="display: none">
            <p><b>@Html.DisplayNameFor(m => m.QuestionText)</b></p>
            <p>@Html.DisplayFor(m => m.QuestionText)</p>
            <label for="name">Your answer:</label>

            @foreach (var item in Model.Answers)
            {
                <br />
                <input type="button" class="btn btn-primary" style="margin-bottom:20px" id="@item.Id" value="@item.AnswerText" />
            }
        </form>
        <div id="thanks" style="display: none">
            <p>Thanks for your vote!</p>
        </div>
    </div>

</div>